<!DOCTYPE html>
<html xmlns:th  = "https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<style>
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}


tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<title>Jere Database Project</title>
</head>
<body>

<div style="height:100px;
width:640px;overflow:auto;
background-color:lightblue;
color:black;
scrollbar-base-color:gold;
font-family:sans-serif;
padding:10px;">
Connected to the firebase database
</div>
<a href="/login">Access to my Card Database</a>

<br> <br>


</body>
</html>